# Docker
docker-compose.override.yml
**/.dockerignore
**/.env

# Секреты
secrets/*

# Зависимости
**/node_modules/

# Сборки
**/dist/
**/.next/
**/out/

# Логи
*.log
logs/

# ОС
.DS_Store
Thumbs.db

# Редакторы
.idea/
.vscode/
*.swp
*.swo

# Тестовые данные
coverage/
.nyc_output/

# Переменные окружения
.env.local
.env.development.local
.env.test.local
.env.production.local
